<div class="col-2" >
    <div class="row">
        <div class="col-3">
            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/38/000000/external-user-interface-kiranshastry-lineal-kiranshastry.png"/>
        </div>

        <div class="col-9 my-auto">
            <span>{{ profile.get_firstName() }} {{ profile.get_lastName() }}</span>
        </div>
    </div>

    <div class="mt-4">
        <p><a href="/account" class="mb-3">My Profile</a></p>
        <p><a href="/account/address" class="mb-3">Address Book</a></p>
        <p><a href="/account/orders" class="mb-3">View Orders</a></p>
    </div>
</div>